 body{

    text-align: center;
} 

.button{
    padding: 8px 30px;
    border: 2px solid black;
    transition: all 0.1s ease-in-out;
}

.button:hover{
    /* width: 100%; */
    transform: scale(1.2);
    transition: all 0.1s ease-in-out;
}